/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Aug, 2018, 9:49:47 PM
    Author     : atul_saurabh
*/

.sidepanel
{
    -fx-background-color:#ffffff;
    -fx-border-radius:0 20 20 0;
    -fx-background-radius: 0 20 20 0
}

.sidepanel #adminLabel
{
    -fx-background-color:#387002;
    -fx-padding:10; 
    -fx-text-fill:#ffffff;
    -fx-font-size:35px;
    -fx-border-radius:0 20 0 0;
    -fx-background-radius: 0 20 0 0
}

#searchIcon{
    -fx-fill:#3e2723;
	
}

.header{
   -fx-background-color:#689f38; 
   -fx-border-radius:0 0 20 0;
    -fx-background-radius: 0 0 20 0
}

.footer
{
    -fx-background-color:#99d066;
    -fx-border-radius:0 20 0 0;
    -fx-background-radius: 0 20 0 0
}

.searchBar{
    -fx-background-color:transparent;
    -fx-height:20;
    -fx-text-fill:#000000;
    -fx-font-size:20px;
    /*-fx-border-style:solid;
    -fx-border-width:1px; */
}

.dashboard_options
{
    -fx-text-fill:#212121;
    -fx-font-weight:bold;
    -fx-font-size:20px;
    -fx-border-color:transparent;
}

.dashboard_options:hover
{
   -fx-text-fill:#212121;
   -fx-font-weight:bold;
   -fx-font-size:20px;
   -fx-border-color:transparent;
}

/*.dashboard_options:active
{
   -fx-text-fill:#ffca28;
   -fx-font-weight:bold;
   -fx-font-size:20px;
   -fx-border:none; 
}*/
.dashboard_options:pressed
{
    -fx-text-fill:#212121;
   -fx-font-weight:bold;
   -fx-font-size:20px;
   -fx-border-color:transparent;
   -fx-text-decoration:none;
}


.dashboard_text
{
    -fx-text-fill:#3e2723;
    -fx-font-weight:bold;
    -fx-font-size:24px;
}
.separetor
{
    -fx-background-color:#ffffff;
}

.dashboard_label
{
   -fx-background-color:#ffffff; 
}

.dashboard_label:hover
{
    -fx-backgound-color:#689f38;
}